@model Online_Ticari_Otomasyon_1_MVC5.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>DepartmanGetir</h2>
<br />
@using (Html.BeginForm("DepartmanGüncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.DepartmanAd)
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-controll" })
        @Html.HiddenFor(x => x.DepartmanID)

    </div>
    <br />
    <button class="btn btn-warning"> Güncelle</button>
}

